* {
}

.hero {
  background-image: url("../images/blossom_spirit.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  background-image: url("../images/blossom_spirit.jpg");
}

.container > h1 {
  font-size: 6ren;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  padding: 1rem;
  width: 90%;
}

.header {
}

.about {
  background-color: darkmagenta;
  padding: 1rem;
  margin: 1rem;
}

.my projects {
  background-color: darkorchid;
  padding: 1rem;
  margin: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 100px;
  width: 100px;
  background-color: darkviolet;
  margin: 1rem;
  border-radius: 5px;
}

.card-image-container {
  height: 20rem;
  width: 300px;
  padding: 1rem;
}

.card-image {
  height: 100px;
  max-width: 100px;
  object-fit: contain;
}

.card-title {
  margin-bottom: 1rem;
  padding: 1rem;
}

.card-subtitle {
  margin-bottom: 1rem;
  padding: 1rem;
}

.card-info {
  padding: 1rem;
}

.contact {
  background-color: deeppink;
  padding: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}
