.hero {
  background-image: url("../images/blossom_spirit.jpg");
  height: 200vh;
  width: 100%;
  background-size: cover;
}
/* Header styling */
.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-container h1 {
  margin: 0 auto;
  font-size: 6ren;
}
/* Navbar styling */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  padding: 1rem;
  width: 90%;
  margin-right: 1rem;
}

.about {
  padding: 1rem;
  margin: 1rem;
}

.about-me-img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
}

.my-projects {
  background-color: rgb(104, 31, 136);
  padding: 1rem;
  margin: 1rem;
}
/* Cards-container styling */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1rem;
  border-radius: 5px;
}
/* Card img styling */
.card img,
.contact-image-container img {
  height: 100%;
  width: 100%;
}

.card-image-container-large {
  height: 20rem;
  width: 300px;
  padding: 1rem;
}

.card-image-container-small {
  height: 15rem;
  width: 270px;
  padding: 1rem;
}

.card-title {
  margin-bottom: 1rem;
  padding: 1rem;
}

.card-subtitle {
  margin-bottom: 1rem;
  padding: 1rem;
}

.card-info {
  padding: 1rem;
}
/* Contact styling */
.contact-container {
  background-color: rgb(145, 34, 192);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.contact-image-container {
  background-color: rgba(148, 0, 211, 0.774);
  height: 100px;
  width: 100px;
}
/* Desktop styling */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .navbar {
    margin-left: 15px;
  }
}
/* Mobile device styling */
@media screen and (max-width: 500px) {
  .my-projects {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}
