* {
}

.hero {
  background-image: url("../images/teleborg_castle.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
.navbar {
}
